<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div class="container">
    <h1>Publisher List</h1>
    <div>
        <nobr>
            <a class="btn btn-warning btn-sm" th:href="@{/publishers/add}">Add Publisher</a> |
            <a class="btn btn-warning btn-sm" th:href="@{/}">Back to Index</a>
        </nobr>
    </div>
    <br/><br/>

    <div>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Edit</th>
            </tr>
            <tr th:each ="publisher : ${publishers}">
                <td th:utext="${publisher.id}">.../>
                <td><a style="text-decoration: none" th:href="@{/publishers/{publisherId}(publisherId=${publisher.id})}" th:utext="${publisher.name}">...</a></td>
                <td th:utext="${publisher.description}">...</td>
                <td><a style="text-decoration: none" class="btn btn-danger btn-sm" th:href="@{/publishers/{publisherId}/edit(publisherId=${publisher.id})}"> Edit </a></td>
            </tr>
        </table>
    </div>
    <br/><br/>
    <div>
        <nobr>
            <span th:if="${hasPrev}"><a class="btn btn-warning btn-sm" th:href="@{/publishers?page={prev}(prev=${prev})}"> Prev </a>&nbsp;&nbsp;&nbsp;</span>
            <span th:if="${hasNext}"><a class="btn btn-warning btn-sm" th:href="@{/publishers?page={next}(next=${next})}"> Next </a></span>
        </nobr>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
