<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <h1 th:text="${add} ? 'Create a Book:' : 'Edit a Book:'" />
    <a class="btn btn-warning btn-sm" th:href="@{/books}">Back to Book List</a>
    <br/><br/>
    <form th:action="${add} ? @{/books/add} : @{/books/{bookId}/edit(bookId=${book.id})}"
          th:object="${book}" method="POST">
        <table>
            <tr th:if="${book.id}">
                <td>ID</td>
                <td>: </td>
                <td th:utext="${book.id}">...</td>
            </tr>
            <tr>

                <td><input class="form-control" type="text" th:field="*{ISBN}" placeholder="ISBN" /></td>
            </tr>
            <tr>

                <td><input class="form-control" type="text" th:field="*{name}" placeholder="Name" /></td>
            </tr>
            <tr>

                <td><input class="form-control" type="text" th:field="*{author}" placeholder="Author Id" /></td>
            </tr>
            <tr>

                <td><input class="form-control" type="text" th:field="*{publisher}" placeholder="Publisher Id" /></td>
            </tr>
            <tr>
                <td><textarea class="form-control" th:field="*{description}" rows="3" cols="50" placeholder="Description" /></td>
            </tr>
        </table>
        <input type="submit" class="btn btn-success" th:value="${add} ? 'Create' : 'Update'" />
    </form>

    <br/>
    <!-- Check if errorMessage is not null and not empty -->
    <div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
