<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <h1 th:text="${add} ? 'Create a Author:' : 'Edit a Author:'" />
    <a class="badge badge-warning" th:href="@{/authors}">Back to Contact List</a>
    <br/><br/>
    <form th:action="${add} ? @{/authors/add} : @{/authors/{authorId}/edit(authorId=${author.id})}"
          th:object="${author}" method="POST">
        <table>
            <tr th:if="${author.id}">
                <td>ID</td>
                <td>: </td>
                <td th:utext="${author.id}">...</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>: </td>
                <td><input type="text" th:field="*{name}" /></td>
            </tr>
            <tr>
                <td>Sur Name</td>
                <td>: </td>
                <td><input type="text" th:field="*{surName}" /></td>
            </tr>
            <tr>
                <td>Description</td>
                <td>: </td>
                <td><textarea th:field="*{description}" rows="3" cols="50" /></td>
            </tr>
        </table>
        <input type="submit" class="btn btn-outline-success" th:value="${add} ? 'Create' : 'Update'" />
    </form>

    <br/>
    <!-- Check if errorMessage is not null and not empty -->
    <div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
